<div class="jumbotron page-hd">
	<h1><%= @event_main.name %></h1>
	<p><%= @event_main.description %></p>
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div class="speakers-container">
	<h2 class="page-header">Palestrantes</h2>

	<% @speakers.each_slice(3) do |group| %>
		<div class="row speakers-row">
		<% group.each do |speaker| %>
			<div class="col-md-4 speakers">
			<!-- <div class="speaker-pic" style="background-image:url(<%= speaker.user.image %>?type=large)"></div> -->
				<%= 
				image_tag speaker.user.image.try(:+, '?height=200&type=normal&width=200'), class: 'img-circle' 
				%>
				<h3 class="speaker-title"><%= speaker.user.name %></h3>
				<p class="speaker-bio"><%= speaker.bio %></p>
			</div>
		<% end %>
		</div>
	<% end %>
</div>
