<%= simple_form_for @course do |f| %>

    <% if @course.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.input :name, label: 'Nome' %>
  <%= f.input :description, label: 'Descrição' %>
  <%= f.input :duration, label: 'Duração', placeholder: '1 hora' %>
  <%= f.input :date, label: 'Date', placeholder: '17 de fevereiro' %>
  <%= f.association :speaker, label: 'Palestrante' %>


  <%= f.submit "Salvar", :class => 'btn btn-primary' %>
  <%= link_to "Cancelar",
            courses_path, :class => 'btn btn-default' %>

<% end %>
