<div class="speakers-container">
  <h2 class="page-header">Palestrantes</h2>

  <% @speakers.each_slice(3) do |group| %>
    <div class="row speakers-row">
    <% group.each do |speaker| %>
      <div class="col-md-4 speakers">
      <!-- <div class="speaker-pic" style="background-image:url(<%= speaker.user.image %>?type=large)"></div> -->
        <%= 
        image_tag speaker.user.image.try(:+, '?height=200&type=normal&width=200'), class: 'img-circle' 
        %>
        <h3 class="speaker-title"><%= speaker.user.name %></h3>
        <p class="speaker-bio"><%= speaker.bio %></p>
        <div class='btn-group'>
          <%= link_to 'Editar',
                      edit_speaker_path(speaker), class: 'btn btn-default' %>
          <%= link_to "Remover",
                      speaker_path(speaker),
                      method: :delete,
                      data: { confirm: 'Tem certeza?' },
                      class: 'btn btn-danger' %>          
        </div>
      </div>
    <% end %>
    </div>
  <% end %>

<p class="col-md-12">
<%= link_to 'Adicionar palestrante',
            new_speaker_path,
            :class => 'btn btn-primary' %>
</p>  
</div>

