<div class="jumbotron header-banner" style="background-image: url(<%= @event_main.banner.url %>)">
  <div class="container">
    <h1><%= @event_main.name %></h1>
    <p><%= @event_main.theme %></p>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to @event_main.name, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          
          <% if current_user.is?(:admin) %>
            <li>
              <%= link_to 'Editar evento', edit_event_path(@event_main) %>
            </li>

            <li>
              <%= link_to 'Editar palestrantes', speakers_path %>
            </li>
          <% end %>      
            
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= current_user[:email] %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "Sair", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Criar conta ou entrar", user_omniauth_authorize_path(:facebook) %>
          </li>   
        <% end %>
      </ul>
</nav>